
body{
    text-align: center;
    text-decoration: none;
}
.sidebyside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
#myphoto{
    border-radius: 50%;
}
.image{
    flex: 1;
    height: 50%;
    width:50%;
    border-radius: 100%;
    margin-left: 100px;
}
.image img {
    max-width: 80%;
    height: auto;
}
.text{
    font-family: quicksand;
    font-size: 46px;
}
header{
    text-align: center;
}
.nvbar a{
    font-family: roboto mono;
    float: right;
    display: block;
    color: f2f2f2;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
    text-decoration: none;
}
.upmenu{ color: blue;
    text-decoration: wavy;    
}

.paraa{
    background-image:linear-gradient(to right,rgb(5, 46, 60),rgb(15, 74, 117));
    font-size: 42px;
    color: rgb(255, 246, 185);
    font-family: pacifico;
    margin: 0px;
}
.extra{
    margin: 0;
}
.social{
    margin-bottom: 10px;
    margin-top: -50px;
    align-items: center;
}
.imgg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.ticline{
    height: 4px;
    background-color: #4dd8ff;
    filter: blur(6px);
}
#id1{
    margin-top: -2px;
}
#id2{
    margin-bottom: -1px;
}
.social{
    float: centre;
    color: f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 0px;

}
#id3{
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 50%;
}
#id4{
    background-color: transparent;
    color: #eee;
    border: opx transparent;
    cursor: pointer;
}
:hover.imgg{
    animation-duration: 0.5s;
    transition-duration: 1.5s;
    box-shadow: 5px 5px 40px black;
}
#bimg{
    object-fit: cover;
    height: auto;
    max-width: 100%;
    margin-bottom: -58px;
}
#foot{
    margin-top: 1px;
    background-color:  rgb(40, 47, 109);
    width: 100.5%;
    text-align: center;
    color: rgb(248, 255, 247);
    font-family: Quicksand;
    font-size: 40px;
}
.gridcon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.grid-item {
    background-color:  rgb(40, 47, 109);
    padding: 10px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 40px;
    color: rgb(241, 241, 241);
    text-align: center;
    font-size: 18px;
    border-color: transparent;
}
.white{
    color:rgb(255, 0, 119);
    text-decoration: none;  
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}
:hover.white{
    color: rgb(255, 255, 255);
    text-decoration: none;  
    text-shadow: 3px 3px 20px#200303;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    transition-duration: 1s;
}
#note{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}