body{
    background:linear-gradient(to right,rgb(146, 146, 146),rgb(119, 118, 118)), rgb(66, 43, 43) ;
    text-align: center;
}
h1{
    color: hsla(0, 3%, 94%, 0.856);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 60px;
    text-shadow: 5px 5px 40px;
}
h1:hover{
    text-shadow: 2px 2px 40px rgb(0, 0, 0);
}
button{
    border-radius: 50%;
    background-color: #b3b4b4b1;
    border: none;
    margin: 4px 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4ms;
    text-shadow: 2px 2px 2px blue;
    box-shadow: 3px 3px 20px;
}
button:hover{
    background-color: rgba(14, 206, 0, 0.534);
    color: white;
    box-shadow: 3px 3px 20px rgb(0, 0, 0);
}
input{
    width: 240px;
    height: 30px;
    border: 2px solid rgb(189, 65, 162);
    opacity: 0.15;
    font-size: 20px;
    text-shadow: 2px 2px 40px black;
    box-shadow: 10px 1px 20px 5px red;
}
input:hover{
    background-color: yellow;
}