body{
    background-image: linear-gradient(to bottom right,rgb(35, 0, 68),rgb(117, 68, 3))
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
p {
    color: rgb(187, 255, 160);
    text-align: center;
    font-size: 50px;
    font-family: verdana;
    text-shadow: 3px 1px 2px blueviolet;
}
div{
    color: white;
    padding: 10px;
    border: 5px solid grey;
    margin: 0;
}